doctype html
html(lang="ru")
   include html/head
   body 
      include html/header 
      main 
         section.opportunities
            div.container 
               h1.title Hello World!
      include html/footer 
      script(src="js/app.min.js") 